<h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p>
<div class="form">
  <%= form_with(model: @user, url: user_create_url) do |f| %>
    <div class="formContents">
      <%= f.label "First name", class:"formLabel" %>
      <br>
      <%= f.text_field :firstName, class: "textBoxLength" %>
    </div>
    <div class="formContents">
      <%= f.label "Last name", class: "formLabel" %>
      <br>
      <%= f.text_field :lastName, class: "textBoxLength" %>
    </div>
    <div class="formContents">
      <%= f.label "Password", class: "formLabel" %>
      <br>
      <%= f.password_field :password, class: "textBoxLength" %>
    </div>
    <div class="formContents">
      <%= f.label "confirm_password", class: "formLabel" %>
      <br>
      <%= f.password_field :password_confirmation, class: "textBoxLength" %>
    </div>
    <div class="formContents">
      <%= f.label "email", class: "formLabel" %>
      <br>
      <%= f.text_field :email, class: "textBoxLength" %>
    </div>
    <div class="formContents">
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>